body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.transaction-form-table-header{
  background-color: darkslategray;
  color: mintcream;
}

.transaction-form-table{
  background-color: mintcream;
}

.form-cell{
  padding-top:2%;
  padding-bottom: 2%;
}

.btn{
  margin:10px;
  min-width: 160px;
}


